<div ng-controller="homeCrt">
    <title>P - {{title}}</title>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><i class="material-icons">dashboard</i>Administrar</li>
            <li><i class="material-icons">home</i> Home</li>
            <!-- <li><a href="#!/status"><i class="material-icons">toc</i> Estado</a></li> -->
        </ol>
        <hr>
    </div>
    <div class="container">
        <!-- <div class="text text-right">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Buscar">
                </div> 
        </div> -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="material-icons">home</i>{{title}}</h3>
                
            </div>

            <div class="panel-body">

                <a href="#!/settings">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">settings</i>Configuracion
                </span>
                </a>
                <a href="#!/geo">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">my_location</i>
                    Geolocalizacion
                </span>
                </a>
                <a href="#!/account">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">account_balance</i>Contabilidad
                </span>
                </a>
                <a href="#!/sales">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">account_balance_wallet</i>Ventas
                </span>
                </a>
                 <a href="#!/planning">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">assessment</i>Planificacion
                </span>
                </a>
                <a href="#!/">
                    <span class="btn btn-info btn-lg">
                        <i class="material-icons">payment</i>Pagos
                    </span>
                </a>
                  <a href="#!/product">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">shop</i>Productos
                </span>
                </a> 
                

            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
                <!--<pre>{{ data | json }}</pre>-->
            </div>

        </div>
        <div class="row"></div>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
            </div>
        </div>
        <hr>
    </div>
</div>
