<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css.map">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="panel panel-default" ng-controller="HomeCtrl">
            <div class="panel-body">
		 <div class="form-group">
                        <input type="text" class="form-control"  name="name"  ng-model="name" placeholder="nombre..."><br>
                         
                        <input class="form-control" 
                        type="file" name="file" uploader-model="file"  />
                        <br>
               			 <button type="submit" class="btn btn-default"  
                                ng-click="uploadFile()">
                            subir
                        </button>
                    </div>
			
		</div>
	</div>
	</div>
	</div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 
<script src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module("app", [])

.controller('HomeCtrl', ['$scope', 'upload', function ($scope, upload) 
{
	$scope.uploadFile = function()
	{
		var name = $scope.name;
		var file = $scope.file;
		
		upload.uploadFile(file, name).then(function(res)
		{
			console.log(res);
		})
	}
}])

.directive('uploaderModel', ["$parse", function ($parse) {
	return {
		restrict: 'A',
		link: function (scope, iElement, iAttrs) 
		{
			iElement.on("change", function(e)
			{
				$parse(iAttrs.uploaderModel).assign(scope, iElement[0].files[0]);
			});
		}
	};
}])

.service('upload', ["$http", "$q", function ($http, $q) 
{
	this.uploadFile = function(file, name)
	{
		var deferred = $q.defer();
		var formData = new FormData();
		formData.append("name", name);
		formData.append("file", file);
		var url='http://localhost:8070/upload';
		return $http.post(url, formData, {
			headers: {
				"Content-type": undefined
			},
			transformRequest: angular.identity
		})
		.then(function(xhr){
			/*success(function(res)
		{
			deferred.resolve(res);
		})
		.error(function(msg, code)
		{
			deferred.reject(msg);
		}*/

		deferred.resolve(xhr);
		location.reload();
		},function(err){
			deferred.reject(err);
		});
		return deferred.promise;
	}	
}])
</script>
</body>
</html>