<!doctype html>
<html ng-app="app">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css.map">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="bower_components/material-icons/css/material-icons.min.css">
<link rel="stylesheet" href="bower_components/material-design-icons-iconfont/dist/fonts/material-icons.css"/>
<link href="material_kit/assets/css/bootstrap.min.css" rel="stylesheet"/>
<link href="material_kit/assets/css/material-kit.css" rel="stylesheet"/>
<body class="signup-page">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">Publicity Shop</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="defaultNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">
                    <i class="material-icons">dashboard</i>Administrar
                    <span class="sr-only">(current)</span></a></li>
                <li><a href="#!/report">
                    <i class="material-icons">picture_as_pdf</i>
                    Reporte</a></li>
                <li>
                    <a href="#!/security"><i class="material-icons">verified_user</i>
                        Seguridad</a></li>
                <!-- <li><a href="#!/shema">Esquema</a></li> -->
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Buscar">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-controller="homeCrt"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                                role="button"
                                                                aria-expanded="false">
                    <!--<i class="material-icons">account_circle</i>-->
                    <img ng-src="{{imgAvatar}}" alt="" class="img-circle" width="25"
                         height="25">

                    {{user}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a >Configuracion</a></li>-->
                        <li><a href="#!/settings">
                            <i class="material-icons">settings</i>Configuracion</a></li>
                        <li class="divider"></li>
                        <li><a href="#!/logout">
                            <i class="material-icons">input</i>
                            Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid //main main-raised-->
</nav>
<br><br><br><br>

<div class="wrapper">
    <div class="header header-raised"
    >
        <!-- <div class="header header-filter"
        style="background-image: url('material_kit/assets/img/citys.jpg'); background-size: cover; background-position: top center;"> -->
        <div class="container">
            <div class="row">
                <!--<div ng-controller="utilityCrt">-->
                <div>
                    <div ng-view></div>
                </div>
                <footer class="footer">

                    <div class="container">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p>
         -->                        </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

</body>


<script src="material_kit/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="material_kit/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="material_kit/assets/js/material.min.js"></script>

<script src="material_kit/assets/js/nouislider.min.js" type="text/javascript"></script>


<script src="material_kit/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>


<script src="material_kit/assets/js/material-kit.js" type="text/javascript"></script>


<!-- <script src="material_kit/assets/js/material-kit.js" type="text/javascript"></script>
<script src="material_kit/assets/js/material.min.js"></script> -->
<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

<script src="bower_components/jquery-confirm/jquery.confirm.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/angular-wysiwyg/dist/angular-wysiwyg.min.js"></script>
<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<script src="bower_components/jspdf/dist/jspdf.min.js"></script>
<script src='bower_components/pdfmake/build/pdfmake.min.js'></script>
<script src='bower_components/pdfmake/build/vfs_fonts.js'></script>
<script src="bower_components/html2canvas/build/html2canvas.min.js"></script>

<script src="module/app.js"></script>
<!--<script src="utility/utility.js"></script>-->
<script src="utility/browser.js"></script>
<script src="factory/factory.js"></script>
<script src="route/router.js"></script>
<script src="controller/product.js"></script>
<script src="controller/home.js"></script>
<script src="controller/security.js"></script>
<script src="controller/report.js"></script>
<!-- <script src="controller/shema.js"></script>

<script src="controller/home.js"></script>

<script src="controller/test.js"></script>

<script src="controller/multi.js"></script>

<script src="controller/area.js"></script>
<script src="controller/roles.js"></script>
<script src="controller/report.js"></script>
<script src="controller/security.js"></script> -->

</html>