<style>
    #img-prod img {
        width: 100% !important;
        height: 70% !important;
    }
</style>
<div ng-controller="productInfoCrt">
    <title>PS - {{title}}</title>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><i class="material-icons">dashboard</i>Administrar</li>
            <li><a href="#!/home"><i class="material-icons">home</i>Home</a></li>
            <li><i class="material-icons">shop</i> {{title}}</li>
        </ol>
        <hr>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="material-icons">shop</i>{{title}}</h3>

            </div>

            <div class="panel-body">
                <span class="btn btn-default" ng-click="resultPayment()"><i
                        class="material-icons">shopping_cart</i>{{countItem}}</span>
                <span class="btn btn-default" ng-click="payment()"><i
                        class="material-icons">shopping_cart</i>Pagar</span>
                <br>

                <div class="col-sm-4" ng-repeat="i in dataProduct | orderBy:sortType:sortReverse | filter:search">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{i.name}}</div>
                        <div class="panel-body">
                            <!-- <img ng-src="{{domain}}{{i.image}}" class="img-responsive"> -->
                            <img ng-src="{{domain}}{{i.image}}" width="100%" height="200px" >
                        </div>
                        <div class="panel-footer">
                            <p>Precio:</p>{{i.amount.price.toFixed(2)}} {{i.coinsID.name}}
                            <p>Disponible:</p>{{i.available}}
                        </div>
                        <div class="panel-footer">
                            <div class="button-group">
                                <span class="btn btn-default btn-xs">
                                    <a ng-click="detailProduct(i._id)">
                                        <i class="material-icons">visibility</i>
                                        Ver detalles
                                    </a>
                                </span>
                           <span class="btn btn-default btn-xs">
                                <a ng-click="add(i._id,i,1)">
                                    <i class="material-icons">add_shopping_cart</i>
                                    Agregar al carrito
                                </a>
                           </span>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="cards">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card card-pricing">
                                    <div class="card-content">
                                        <h6 class="category text-gray">Small Company</h6>
                                        <div class="icon icon-info">
                                            <i class="material-icons">people</i>
                                        </div>
                                        <h3 class="card-title">$29</h3>
                                        <p class="card-description">
                                            This is good if your company size is between 2 and 10 Persons.
                                        </p>
                                        <a href="#pablo" class="btn btn-info btn-round">Choose Plan</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!--<table class="table">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">-->
                <!--<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>-->
                <!--<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>-->
                <!--Id-->
                <!--</a></th>-->
                <!--<th><a ng-click="sortType = 'data';sortReverse = !sortReverse">-->
                <!--<span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>-->
                <!--<span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>-->
                <!--Nombre-->
                <!--</a></th>-->
                <!--<th><a ng-click="sortType = 'status';sortReverse = !sortReverse">-->
                <!--<span ng-show="sortType == 'status' && !sortReverse"-->
                <!--class="fa fa-caret-down"></span>-->
                <!--<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>-->
                <!--Imagen-->
                <!--</a></th>-->
                <!--<th>Accion</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="i in dataProduct | orderBy:sortType:sortReverse | filter:search">-->
                <!--<td>{{ $index+1 }}</td>-->
                <!--<td>{{i.name}}</td>-->
                <!--<td>-->

                <!--<img ng-src="{{domain}}{{i.image}}" class="img-thumbnail" alt="" width="105"-->
                <!--height="105">-->

                <!--</td>-->
                <!--<td><span class="btn btn-default" ng-click="detailProduct(i._id)">-->
                <!--<i class="material-icons">visibility</i>-->
                <!--Ver Detalles-->
                <!--</span></td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">
                                    <i class="material-icons">visibility</i>Detalle</h4>
                            </div>
                            <div class="modal-body">
                                <p>Productos.</p>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <img ng-src="{{domain}}{{details.image}}" class="img-circle" width="50%">
                                    </div>
                                    <div class="col-sm-4">
                                        Categoria: {{details.categoryID.name}}
                                    </div>
                                    <div class="col-sm-4">
                                        Producto: {{details.name}}
                                    </div>
                                    <div class="col-sm-4">
                                        Tienda: {{details.shopID.name}}
                                    </div>
                                    <div class="col-sm-4">
                                        Precio: {{details.amount.price}} {{details.coinsID.name}}
                                    </div>
                                    <div class="col-sm-4">
                                        Disponible: {{details.available}}
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-group-sm" ng-model="cant">
                                    </div>
                                    <br>

                                    <span class="btn btn-default" ng-click="add(details._id,details,cant)">
                                        <i class="material-icons">add_shopping_cart</i>pedir
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">
                                    <i class="material-icons">visibility</i>Detalle compra</h4>
                            </div>
                            <div class="modal-body">
                                <p>Productos.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th class="text-right">Precio</th>
                                            <th></th>
                                            <th></th> 
                                            <th>Impuesto</th>
                                            <th>accion</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="i in items">
                                            <td>{{i.name}}</td>
                                            <td>{{i.cant}}</td>
                                            <td class="text-right">{{i.price}}</td>
                                            <td>{{i.coins}}</td>
                                        
                                            <td>
                                                <div class="col-sm-3">
                                                    <input type="number" class="form-group-sm" ng-model="cants"
                                                           placeholder="{{i.cant}}" ng-change="statusCart(i._id,cants)">
                                                </div>
                                            </td>
                                            <td>{{i.tax_name}}</td>
                                            <td><span ng-click="del($index)"><i
                                                    class="material-icons">remove_shopping_cart</i></span></td>

                                        </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <th colspan="2">Total:</th>
                                                <th class="text-right">{{total}}</th>
                                                <th></th>
                                            </tr>
                                        </tfooter>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="text-center col-md-12">
            <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
            <!--<pre>{{ data | json }}</pre>-->
        </div>

    </div>
    <div class="row"></div>
    <hr>
    <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
            <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
        </div>
    </div>
    <hr>
</div>

</div>

<!--<div ng-repeat='item in items'>-->
<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<input type="text" class="form-control" readonly value="{{item}}">-->
<!--</div>-->
<!--<span class="btn btn-default" ng-click="del($index)"><i-->
<!--class="fa fa-remove"></i></span>-->
<!--</div>-->

<!--</div>-->