<div ng-controller="homeCrt">
    <title>Adaptive - {{title}}</title>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><i class="material-icons">dashboard</i>Administrar</li>
            <li><i class="material-icons">home</i> Home</li>
            <li><a href="#!/status"><i class="material-icons">toc</i> Estado</a></li>
        </ol>
        <hr>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="material-icons">home</i>{{title}}</h3>
            </div>

            <div class="panel-body">

                <!--<ul class="nav nav-pills nav-pills-primary" role="tablist">-->
                <a href="#!/status">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">toc</i>Estado
                </span>
                </a>
                <a href="#!/coins">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">toc</i>Moneda
                </span>
                </a>
                <a href="#!/shop">
                    <span class="btn btn-primary btn-lg">
                    <i class="material-icons">store</i>Tiendas
                </span>
                </a>
                
                <a href="#!/tax">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">toc</i>Impuesto
                </span>
                </a>
                
                <a href="#!/category">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">toc</i>Categoria
                </span>
                </a>
                <a href="#!/product">
                    <span class="btn btn-success btn-lg">
                    <i class="material-icons">shop</i>Productos
                </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
                <!--<pre>{{ data | json }}</pre>-->
            </div>

        </div>
        <div class="row"></div>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
            </div>
        </div>
        <hr>
    </div>
</div>
