<div ng-controller="taxCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">


        <title> P- {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><i class="material-icons">dashboard</i>Administrar</li>
                <li><a href="#!/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="#!/status"><i class="material-icons">toc</i>Estado</a> </li>
                <li><a href="#!/coins">
                    <i class="material-icons">toc</i>Moneda</a></li>
                <li><a href="#!/shop">
                    <i class="material-icons">store</i>Tiendas</a></li>
                    
                <li><i class="material-icons">toc</i> {{title}}</li>
                <li ng-if="data.length!=0"><a href="#!/category">
                    <i class="material-icons">toc</i>Categoria</a></li>

            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">toc</i>{{title}}</h3>
                </div>

                <div class="panel-body">

                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary" ng-if="fsave!=0" ng-show="opBtn==1" ng-click="openFrm()">
                                <i class="fa fa-file-o"></i>nuevo
                            </button>
                            <button class="btn glyphicon glyphicon-remove" ng-show="clBtn==1" ng-click="closeFrm()">
                                cerrar
                            </button>
                            <br>
                        </div>
                        <br>
                        <div ng-show="fsave!=0" >
                            <form name="f" no-validate ng-show="opFrm">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" name="nombre" ng-model="tax.name"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.nombre.$error.required && f.nombre.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">nombre requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>


                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Descripcion</span>

                                    <wysiwyg textarea-id="question"
                                             textarea-class="form-control"
                                             textarea-height="180px"
                                             textarea-name="textareaQuestion"
                                             textarea-required
                                             ng-model="tax.description"
                                             enable-bootstrap-title="true"
                                             textarea-menu="menu"
                                             disabled="disabled">
                                    </wysiwyg>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Valor</span>
                                    <input type="text" class="form-control" ng-model="tax.value"
                                           placeholder="small sized input group">
                                </div>

                                <button type="button" class="btn btn-sm btn-default"
                                        ng-disabled="f.$invalid || f.$pending"
                                        ng-click="save()">
                                    <i class="fa fa-floppy-o"></i> Guardar
                                </button>
                            </form>
                        </div>
                        <div ng-show="fupdate!=0" >
                            <form name="f1" no-validate ng-show="opFrm2">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" ng-model="tax.name"
                                           placeholder="small sized input group">
                                </div>


                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Descripcion</span>

                                    <wysiwyg textarea-id="question"
                                             textarea-class="form-control"
                                             textarea-height="180px"
                                             textarea-name="textareaQuestion"
                                             textarea-required
                                             ng-model="tax.description"
                                             enable-bootstrap-title="true"
                                             textarea-menu="menu"
                                             disabled="disabled">
                                    </wysiwyg>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Valor</span>
                                    <input type="text" class="form-control" ng-model="tax.value"
                                           placeholder="small sized input group">
                                </div>

                                <button type="button" class="btn btn-sm btn-default" ng-click="upd(name)">
                                    <i class="fa fa-refresh"></i> actualizar
                                </button>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="row" ng-show="dataTable1 && data.length!=0">
                        <div class="col-sm-4" ng-repeat="i in data  | filter:search">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{i.name}}</div>
                                <div class="panel-body">
                                    {{i.value}}

                                </div>
                                <div class="panel-footer">
                                    <a ng-if="fedit!=0" ng-click="edit(i._id)"><i class="fa fa-edit"></i>edit</a> |
                                    <a ng-if="fremove!=0" ng-click="confirm(i._id,i.name)"><i
                                            class="fa fa-remove"></i>delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="table-responsive" ng-show="dataTable && data.length!=0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    Id
                                </a></th>
                                <th><a ng-click="sortType = 'data';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                                    Nombre
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    Valor
                                </a></th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in data | orderBy:sortType:sortReverse | filter:search">
                                <td>{{ $index+1 }}</td>
                                <td>{{i.name}}</td>
                                <td>
                                    {{i.value}}
                                </td>
                                <td>
                                    <div>
                            <span ng-if="fedit!=0" class="btn btn-default"> <a ng-click="edit(i._id)">
                                <i class="fa fa-edit"></i>edit</a></span>
                                        <span ng-if="fremove!=0" class="btn btn-default"> <a
                                                ng-click="confirm(i._id,i.name)">
                                <i class="fa fa-remove"></i>delete</a></span>

                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>


    </div>

</div>