<div ng-controller="securityCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">
        <title>P - {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><i class="material-icons">verified_user</i>Seguridad</li>
                <!--<li> Lista de usuario</li>-->
                <!--<li><a href="#!/security/list-roles"><i class="material-icons">group</i>Lista de roles</a></li>-->
            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">verified_user</i>{{title}}</h3>
                </div>

                <div class="panel-body">

                    <a href="#!/security/list-roles">
                    <span class="btn btn-primary btn-lg">
                    <i class="material-icons">group</i>Lista de roles
                </span>
                    </a>
                    <a href="#!/security/list-user">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">person</i>Lista de usuarios
                </span>
                    </a>
                     <a href="#!/security/log-system">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">person</i>Log del sistema
                </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
                    <!--<pre>{{ data | json }}</pre>-->
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
