<div ng-controller="listUserCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">


        <title> P- {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#!/security"><i class="material-icons">verified_user</i>Seguridad</a></li>
                <li><a href="#!/security/list-roles"><i class="material-icons">group</i>Lista de roles</a></li>
                <li><i class="material-icons">person</i>{{title}}</li>
                <li><a href="#!/security/log-system">
                <i class="material-icons">person</i>Log del sistema</a></li>

            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">person</i>{{title}}</h3>
                </div>

                <div class="panel-body">

                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary" ng-show="opBtn==1" ng-click="openFrm()">
                                <i class="fa fa-file-o"></i>nuevo
                            </button>
                            <button class="btn glyphicon glyphicon-remove" ng-show="clBtn==1" ng-click="closeFrm()">
                                cerrar
                            </button>
                            <br>
                        </div>
                        <br>
                        <div ng-show="opFrm">
                            <form name="f" no-validate>
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" name="nombre" ng-model="user.name"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.nombre.$error.required && f.nombre.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">nombre requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        ReadWrite
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="val">
                                            <option ng-repeat="i in roles" value="{{i}}">{{i.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"><span class="btn btn-default" ng-click="add()"><i
                                            class="fa fa-plus-circle"></i></span></div>
                                </div>
                                <br>
                                <div ng-repeat='item in items'>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" readonly value="{{item.name}}">
                                        </div>
                                        <span class="btn btn-default" ng-click="del($index)"><i
                                                class="fa fa-remove"></i></span>
                                    </div>

                                </div>

                                <button type="button" class="btn btn-sm btn-default"
                                        ng-disabled="f.$invalid || f.$pending"
                                        ng-click="save()">
                                    <i class="fa fa-floppy-o"></i> Guardar
                                </button>
                            </form>
                        </div>
                        <div ng-show="opFrm2">
                            <form name="f1"  no-validate>
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" ng-model="user.name"
                                           placeholder="small sized input group">
                                </div>
                                <div class="input-group input-group-sm" >
                                    <label>
                                        <input type="checkbox"  name="optionsCheckboxes"
                                        ng-click="isResetPass()"
                                           ng-model="user.isResetPassword">Reinico de clave
                                    </label>
                                </div>
                                <div ng-if="rst==1" class="input-group input-group-sm">
                                        <span
                                                class="input-group-addon">Clave Nueva</span>
                                    <input type="password" class="form-control" ng-model="user.password"
                                           placeholder="*****">
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        ReadWrite
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="val">
                                            <option ng-repeat="i in roles" value="{{i}}">{{i.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"><span class="btn btn-default" ng-click="add()"><i
                                            class="fa fa-plus-circle"></i></span></div>
                                </div>
                                <br>
                                <div ng-repeat='item in items'>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" readonly value="{{item.name}}">
                                        </div>
                                        <span class="btn btn-default" ng-click="del($index)"><i
                                                class="fa fa-remove"></i></span>
                                    </div>

                                </div>

                                <button type="button" class="btn btn-sm btn-default" ng-click="upd(name)">
                                    <i class="fa fa-refresh"></i> actualizar
                                </button>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="dataTable1">
                        <div class="col-sm-4" ng-repeat="i in data  | filter:search">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{i.name}}</div>
                                <div class="panel-body">
                                    <!--<div ng-bind-html="i.description"></div>-->
                                    <ul ng-repeat="j in i.roles">
                                        <li>{{j.name}} : {{j.readwrite}}</li>
                                    </ul>

                                </div>
                                <div class="panel-footer">
                                    <a ng-click="edit(i._id)"><i class="fa fa-edit"></i>edit</a> |
                                    <a ng-click="confirm(i._id,i.name)"><i
                                            class="fa fa-remove"></i>delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive" ng-show="dataTable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    Id
                                </a></th>
                                <th><a ng-click="sortType = 'data';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                                    user
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    profile
                                </a></th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in data | orderBy:sortType:sortReverse | filter:search">
                                <td>{{ $index+1 }}</td>
                                <td>{{i.name}}</td>
                                <td>

                                    <ul ng-repeat="j in i.roles">
                                        <li>{{j.name}} : {{j.readwrite}}</li>
                                    </ul>
                                </td>
                                <td>
                                    <div>
                            <span class="btn btn-default"> <a ng-click="edit(i._id)">
                                <i class="fa fa-edit"></i>edit</a></span>
                                        <span class="btn btn-default"> <a ng-click="confirm(i._id,i.name)">
                                <i class="fa fa-remove"></i>delete</a></span>

                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>


    </div>

</div>