<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="material_kit/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <!-- 	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="bower_components/material-icons/css/material-icons.min.css">
    <link rel="stylesheet" href="bower_components/material-design-icons-iconfont/dist/fonts/material-icons.css"/>

    <!-- CSS Files -->
    <link href="material_kit/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="material_kit/assets/css/material-kit.css" rel="stylesheet"/>

</head>

<body class="signup-page" ng-controller="loginCrt">

<title>Publicity Shop - {{title}} </title>
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Publicity Shop</a>

            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">Publicity Shop</a></div> -->

        </div>

        <!-- <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/register">
                        Registrar
                    </a>
                </li>

            </ul>
        </div> -->
    </div>
</nav>

<div class="wrapper">
   <!--  <div class="header header-raised" > -->

         <div class="header header-filter"
         style="background-image: url('material_kit/assets/img/city.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <form class="form" name="f" no-validate>
                            <div class="header header-primary text-center">
                                <h4>Login</h4>
                                <!-- <div class="social-line">
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div> -->
                            </div>
                            <p class="text-divider">

                            </p>
                            <div class="content">

                                <!-- <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div> -->

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                                    <input type="text" class="form-control" name="email" ng-model="User.email"
                                           placeholder="Email..." required/>
                                    <div ng-if="f.email.$error.required && f.email.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">Email requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>

                                </div>

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                    <input type="password" name="passw" placeholder="Password..."
                                           ng-model="User.password" class="form-control" required/>
                                    <div ng-if="f.passw.$error.required && f.passw.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">password requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="User.remember" name="optionsCheckboxes"
                                               checked>
                                        Remember
                                    </label>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <!-- <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a> -->
                                <button class="btn btn-simple btn-primary btn-lg"
                                        ng-disabled="f.$invalid || f.$pending"
                                        ng-click="signUp()">aceptar
                                </button>
                                

                                <!-- <div ng-if="fail==1"><div class="alert alert-danger">
                                    <div class="container-fluid"><div class="alert-icon">
                                        <i class="material-icons">error_outline</i></div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                        </button><b>Error:</b> {{mess}}</div></div></div> -->
                                        

                                        <div class="col-sm-8 col-sm-offset-2">
                                            <err-box fail={{fail}} mess={{mess}}></err-box></div>
                                         
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            
            <!-- <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                               About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; 2016, made with <i class="fa fa-heart heart"></i> by
                    <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
                </div>
            </div> -->
        </footer>

    </div>

</div>


</body>
<!--   Core JS Files   -->
<script src="material_kit/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="material_kit/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="material_kit/assets/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="material_kit/assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="material_kit/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="material_kit/assets/js/material-kit.js" type="text/javascript"></script>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/angular-wysiwyg/dist/angular-wysiwyg.min.js"></script>
<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="admin/module/app.js"></script><!-- 
<script src="router/router.js"></script> -->
<script src="admin/factory/factory.js"></script>
<script src="admin/controller/login.js"></script>


</html>
