<div ng-controller="productCrt">
    <title>P- {{title}}</title>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="#!/"><i class="material-icons">dashboard</i>Administrar</a></li>
            <li><i class="material-icons">shop</i>Producto</li>
            <!-- <li><a href="#!/status"><i class="material-icons">toc</i> Estado</a></li> -->
        </ol>
        <hr>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="material-icons">shop</i>{{title}}</h3>
            </div>

            <div class="panel-body">

                <a href="#!/product/type-def">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">shop</i>Definicion de tipo
                </span>
                </a>
                <a href="#!/product/warehouse">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">shop</i>Almacen
                </span>
                </a>
                <a href="#!/product/products">
                    <span class="btn btn-info btn-lg">
                    <i class="material-icons">shop</i>Productos
                </span>
                </a>
                 
                 

            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
                <!--<pre>{{ data | json }}</pre>-->
            </div>

        </div>
        <div class="row"></div>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
            </div>
        </div>
        <hr>
    </div>
</div>
