<div ng-controller="settingsCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">

        <title>Adaptive - {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><i class="material-icons">settings</i>Configuracion</li>
            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">settings</i>{{title}}</h3>
                </div>

                <div class="panel-body">


                    <div class="container-fluid">
                        <ul class="nav nav-pills nav-pills-primary" role="tablist">
                            <li class="active"><a role="tab" data-toggle="tab" ng-click="home()">
                                <i class="material-icons">info_outline</i>Info
                            </a></li>
                            <li><a role="tab" data-toggle="tab" ng-click="menu()">
                                <i class="material-icons">vpn_key</i>Cambio de clave</a></li>
                            <li><a role="tab" data-toggle="tab" ng-click="avatar()">
                                <i class="material-icons">face</i>Avatar</a></li>
                        </ul>
                    </div>
                    <div ng-show="h==1" class="tab-pane"><br>
                        <h3>Info</h3> <br>
                        <img src="{{imgAvatar}}" alt="" class="img-circle" width="65"
                             height="65"><br>
                        Nick: : {{info.name}}<br>
                        Email: {{info.email}}<br>
                        Permisos:
                        <ul ng-repeat="i in info.rolID">
                            <li>{{i.name}}: {{i.readwrite}}</li>
                        </ul>

                    </div>
                    <div ng-show="m==1" class="tab-pane"><br>
                        <h3>Cambio de clave</h3>
                        <form name="f2" novalidate>
                            <div class="input-group input-group-lg">
                                <input type="password" name="clave" ng-model="password"
                                       class="form-control" placeholder="Clave" required>

                                <div ng-if="f2.clave.$error.required && f2.clave.$touched"
                                     class="label-floating has-error">
                                    <label class="control-label">clave requerido</label>
                                    <span class="material-icons form-control-feedback">clear</span>
                                </div>
                            </div>

                            <div class="input-group input-group-lg">
                                <input type="password" name="clave2" ng-model="password2"
                                       class="form-control" placeholder="Repita clave" required>
                                <div ng-if="f2.clave2.$error.required && f2.clave2.$touched"
                                     class="label-floating has-error">
                                    <label class="control-label">clave requerido</label>
                                    <span class="material-icons form-control-feedback">clear</span>
                                </div>
                                <div ng-if="password!=password2"
                                     class="label-floating has-error">
                                    <label class="control-label">clave no son iguales</label>
                                    <span class="material-icons form-control-feedback">clear</span>
                                </div>

                            </div>

                            <button type="button" class="btn btn-sm btn-default"
                                    ng-disabled="f2.$invalid || f2.$pending"
                                    ng-click="changepass()">
                                <i class="fa fa-floppy-o"></i> Guardar
                            </button>
                        </form>
                    </div>
                    <div ng-show="a==1" class="tab-pane"><br>
                        <h3>Avatar</h3>
                        <form name="f2" novalidate>
                            <div class="input-group input-group-lg">
                                <input class="form-control"
                                       type="file" name="file" uploader-model="file" required/>
                            </div>


                            <button type="button" class="btn btn-sm btn-default"
                                    ng-disabled="f2.$invalid || f2.$pending"
                                    ng-click="save()">
                                <i class="fa fa-floppy-o"></i> Guardar
                            </button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
                    <!--<pre>{{ data | json }}</pre>-->
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
