<div ng-controller="productCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">


        <title> P- {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><i class="material-icons">dashboard</i>Administrar</li>
                <li><a href="#!/"><i class="material-icons">home</i>Home</a></li>
                <li><a href="#!/status"><i class="material-icons">toc</i>Estado</a> </li>
                <li><a href="#!/coins">
                    <i class="material-icons">toc</i>Moneda</a></li>
                <li><a href="#!/shop"><i class="material-icons">store</i>Tiendas</a></li>
                <li><a href="#!/tax"><i class="material-icons">toc</i>Impuestos</a></li>
                <li><a href="#!/category"><i class="material-icons">toc</i>Categoria</a></li>
                <li><i class="material-icons">shop</i>{{title}}</li>
                <!--<li><a href="#!/roles">Roles</a></li>-->
            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">shop</i>{{title}}</h3>
                </div>

                <div class="panel-body">

                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary" ng-if="fsave!=0" ng-show="opBtn==1" ng-click="openFrm()">
                                <i class="fa fa-file-o"></i>nuevo
                            </button>
                            <button class="btn glyphicon glyphicon-remove" ng-show="clBtn==1" ng-click="closeFrm()">
                                cerrar
                            </button>
                            <br>
                        </div>
                        <br>
                        <div ng-show="fsave!=0">
                            <form name="f" no-validate ng-show="opFrm">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Tienda</span>
                                    <select class="form-control" ng-model="product.shop"
                                    >
                                        <option ng-repeat="i in shops" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>
                                <div class="input-group input-group-sm"><span class="input-group-addon">Impuesto</span>
                                    <select class="form-control" ng-model="product.tax"
                                    >
                                        <option ng-repeat="i in taxs" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Estado</span>
                                    <select class="form-control" ng-model="product.status"
                                    >
                                        <option ng-repeat="i in status" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Moneda</span>
                                    <select class="form-control" ng-model="product.coins"
                                    >
                                        <option ng-repeat="i in coinss" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Categoria</span>
                                    <select class="form-control" ng-model="product.category"
                                    >
                                        <option ng-repeat="i in categorys" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Imagen</span>
                                    <input class="form-control"
                                           type="file" name="file" uploader-model="file"/>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Codigo</span>
                                    <span class="input-group-addon">{{code}}</span>
                                    <input type="checkbox" name="iscode" ng-click="copycode()" ng-model="copy">escribir
                                    codigo
                                    <input type="text" class="form-control" name="code" ng-model="product.code"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.code.$error.required && f.code.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">Codigo requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" name="nombre" ng-model="product.name"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.nombre.$error.required && f.nombre.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">nombre requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>


                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Descripcion</span>

                                    <wysiwyg textarea-id="question"
                                             textarea-class="form-control"
                                             textarea-height="180px"
                                             textarea-name="textareaQuestion"
                                             textarea-required
                                             ng-model="product.description"
                                             enable-bootstrap-title="true"
                                             textarea-menu="menu"
                                             disabled="disabled">
                                    </wysiwyg>
                                </div>
                                <br>
                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Montos:</span>
                                    <div class="row">
                                        <div class="col-md-offset-1"></div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Costo</span>
                                                <input type="text" ng-model="product.amount.cost"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Precio</span>
                                                <input type="text" ng-model="product.amount.price"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Precio Especial</span>
                                                <input type="text" ng-model="product.amount.special_price"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Stock:</span>
                                    <div class="row">
                                        <div class="col-md-offset-1"></div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Disponilibad</span>
                                                <input type="text" ng-model="product.available"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Minimo</span>
                                                <input type="text" ng-model="product.stock.min"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Maximo</span>
                                                <input type="text" ng-model="product.stock.max"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-default"
                                        ng-disabled="f.$invalid || f.$pending"
                                        ng-click="save()">
                                    <!--<button type="button" class="btn btn-sm btn-default" ng-disabled="f.$invalid || f.$pending"
                                            ng-click="shema()">-->
                                    <i class="fa fa-floppy-o"></i> Guardar
                                </button>
                            </form>
                        </div>
                        <div ng-show="fupdate!=0">
                            <form name="f1" no-validate ng-show="opFrm2">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Tienda</span>
                                    <select class="form-control" ng-model="product.shop"
                                    >
                                        <option ng-repeat="i in shops" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Impuesto</span>
                                    <select class="form-control" ng-model="product.tax"
                                    >
                                        <option ng-repeat="i in taxs" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Estado</span>
                                    <select class="form-control" ng-model="product.status"
                                    >
                                        <option ng-repeat="i in status" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Moneda</span>
                                    <select class="form-control" ng-model="product.coins"
                                    >
                                        <option ng-repeat="i in coinss" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Categoria</span>
                                    <select class="form-control" ng-model="product.category"
                                    >
                                        <option ng-repeat="i in categorys" value="{{i._id}}">{{i.name}}</option>
                                    </select>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Imagen</span>
                                    <img ng-src="{{domain}}{{product.image}}"
                                         class="img-thumbnail" alt=""
                                         width="65"
                                         height="65">

                                    <input class="form-control"
                                           type="file" name="file" uploader-model="file"/>


                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Codigo</span>
                                    <span class="input-group-addon">{{code}}</span>
                                    <input type="checkbox" name="iscode" ng-click="copycodeisset()" ng-model="copy">escribir
                                    codigo
                                    <input type="text" class="form-control" name="code" ng-model="product.code"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.code.$error.required && f.code.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">Codigo requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" name="nombre" ng-model="product.name"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.nombre.$error.required && f.nombre.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">nombre requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>


                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Descripcion</span>

                                    <wysiwyg textarea-id="question"
                                             textarea-class="form-control"
                                             textarea-height="180px"
                                             textarea-name="textareaQuestion"
                                             textarea-required
                                             ng-model="product.description"
                                             enable-bootstrap-title="true"
                                             textarea-menu="menu"
                                             disabled="disabled">
                                    </wysiwyg>
                                </div>
                                <br>
                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Montos:</span>
                                    <div class="row">
                                        <div class="col-md-offset-1"></div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Costo</span>
                                                <input type="text" ng-model="product.amount.cost"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Precio</span>
                                                <input type="text" ng-model="product.amount.price"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Precio Especial</span>
                                                <input type="text" ng-model="product.amount.special_price"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <div class="input-group input-group-sm"><span
                                        class="input-group-addon">Stock:</span>
                                    <div class="row">
                                        <div class="col-md-offset-1"></div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Disponilibad</span>
                                                <input type="text" ng-model="product.available"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Minimo</span>
                                                <input type="text" ng-model="product.stock.min"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group input-group-sm"><span
                                                    class="input-group-addon">Maximo</span>
                                                <input type="text" ng-model="product.stock.max"
                                                       class="form-control"
                                                       placeholder="small sized input group">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm btn-default" ng-click="upd(name)">
                                    <i class="fa fa-refresh"></i> actualizar
                                </button>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="row" ng-show="dataTable1">
                        <div class="col-sm-4" ng-repeat="i in data  | filter:search">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{i.name}}</div>
                                <div class="panel-body">
                                    <div ng-bind-html="i.description"></div>

                                    <img ng-src="{{domain}}{{i.image}}" class="img-thumbnail" alt="" width="65"
                                         height="65">

                                </div>
                                <div class="panel-footer">
                                    <a ng-if="fedit!=0" ng-click="edit(i._id)"><i class="fa fa-edit"></i>edit</a> |
                                    <a ng-if="fremove!=0" ng-click="confirm(i._id,i.name)"><i
                                            class="fa fa-remove"></i>delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="table-responsive" ng-show="dataTable">
                        <table class="table" ng-if="data.length!=0">
                            <thead>
                            <tr>
                                <th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    Id
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    Imagen
                                </a></th>
                                <th><a ng-click="sortType = 'data';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                                    Producto
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    Precio + Impuesto
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    Moneda
                                </a></th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in data | orderBy:sortType:sortReverse | filter:search">
                                <td>{{ $index+1 }}</td>
                                <td>                                  
                                    <img ng-src="{{domain}}{{i.image}}" class="img-circle" alt="" width="65"
                                         height="65">

                                </td>
                                <td>{{i.categoryID.name}} / {{i.name}}</td>
                                <td>{{i.amount.price}} + {{i.taxID.value}}</td>
                                <td>{{i.coinsID.name}}</td>                                
                                <td>
                                    <div>
                            <span ng-if="fedit!=0" class="btn btn-default"> <a ng-click="edit(i._id)">
                                <i class="fa fa-edit"></i>edit</a></span>
                                        <span ng-if="fremove!=0" class="btn btn-default"> <a
                                                ng-click="confirm(i._id,i.name)">
                                <i class="fa fa-remove"></i>delete</a></span>

                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>


    </div>

</div>