<div ng-controller="plannerCrt">
    <div ng-show="enabled==0" class="alert alert-danger">{{message}}</div>
    <div ng-show="enabled!=0">


        <title> P- {{title}}</title>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#!/"><i class="material-icons">dashboard</i>Administrar</a></li>
                <li><a href="#!/planning"><i class="material-icons">assessment</i>
                Planificacion</a></li> 
                <li><i class="material-icons">toc</i> {{title}}</li>
            </ol>
            <hr>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="material-icons">toc</i>{{title}}</h3>
                </div>

                <div class="panel-body">

                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-primary" ng-if="fsave!=0" ng-show="opBtn==1" ng-click="openFrm()">
                                <i class="fa fa-file-o"></i>nuevo
                            </button>
                            <button class="btn glyphicon glyphicon-remove" ng-show="clBtn==1" ng-click="closeFrm()">
                                cerrar
                            </button>
                            <br>
                        </div>
                        <br>
                        <div ng-show="fsave!=0" >
                            <form name="f" no-validate ng-show="opFrm">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" name="nombre" ng-model="model.name"
                                           placeholder="small sized input group" required>

                                    <div ng-if="f.nombre.$error.required && f.nombre.$touched"
                                         class="label-floating has-error">
                                        <label class="control-label">nombre requerido</label>
                                        <span class="material-icons form-control-feedback">clear</span>
                                    </div>
                                </div>
                               <!--  <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Fecha de Vecimiento</span> 
                                <datepicker   selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" ng-model="model.endDatePlanner" placeholder="Choose a date"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                                {{model.endDatePlanner}}
                                </div> -->
                                  

                                <button type="button" class="btn btn-sm btn-default"
                                        ng-disabled="f.$invalid || f.$pending"
                                        ng-click="save()">
                                    <i class="fa fa-floppy-o"></i> Guardar
                                </button>
                            </form>
                        </div>
                        <div ng-show="fupdate!=0" >
                            <form name="f1" no-validate ng-show="opFrm2">
                                <div class="input-group input-group-sm"><span class="input-group-addon">Nombre</span>
                                    <input type="text" class="form-control" ng-model="model.name"
                                           placeholder="small sized input group">
                                </div>

                                <!--  <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Fecha de Vecimiento</span> 
                                <datepicker   selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" ng-model="model.endDatePlanner" placeholder="Choose a date"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                                </div>     -->                         

                                <button type="button" class="btn btn-sm btn-default" ng-click="upd(name)">
                                    <i class="fa fa-refresh"></i> actualizar
                                </button>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="row" ng-show="dataTable1">
                        <div class="col-sm-4" ng-repeat="i in data  | filter:search">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{i.name}}</div>
                                <div class="panel-body">
                                    <div ng-bind-html="i.description"></div>

                                </div>
                                <div class="panel-footer">
                                    <a ng-if="fedit!=0" ng-click="edit(i._id)"><i class="fa fa-edit"></i>edit</a> |
                                    <a ng-if="fremove!=0" ng-click="confirm(i._id,i.name)"><i
                                            class="fa fa-remove"></i>delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="fread!=0" class="table-responsive" ng-show="dataTable">
                        <table class="table" ng-if="data.length!=0">
                            <thead>
                            <tr>
                                <th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    Id
                                </a></th>
                                <th><a ng-click="sortType = 'data';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                                    Nombre
                                </a></th> 
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in data | orderBy:sortType:sortReverse | filter:search">
                                <td>{{ $index+1 }}</td>
                                <td>{{i.name}}</td>
                                <td>
                                    <div>
                            <span ng-if="fedit!=0" class="btn btn-default"> <a ng-click="edit(i._id)">
                                <i class="fa fa-edit"></i>edit</a></span>
                                        <span ng-if="fremove!=0" class="btn btn-default"> <a
                                                ng-click="confirm(i._id,i.name)">
                                <i class="fa fa-remove"></i>delete</a></span>

                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                </div>

            </div>
            <div class="row"></div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
                </div>
            </div>
            <hr>
        </div>


    </div>
 </div>