<div ng-controller="reportCrt">
    <title>P- {{title}}</title>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li>{{title}}</li>
        </ol>
        <hr>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>

            <div class="panel-body">

                <div>
                    <div class="input-group input-group-sm">
                        <i ng-if="enabledA!=0">
                            <button class="btn btn-primary" ng-show="opProduct==1" ng-click="openProduct()">
                                <i class="fa fa-file-o"></i>Productos
                            </button>
                        </i>
                        <br>
                    </div>
                    <br>

                </div>
                <br>

                <br>
                <div class="table-responsive" ng-show="dataTableProduct">
                    <span ng-click="pdfProducts()" class="btn btn-default"><i
                            class="fa fa-file-pdf-o"></i> Vista previa PDF</span><br><br>

                    <div id="rptProduct">
                        <strong>{{titleReport}}</strong><br><br>
                        <table class="table" id="table">
                            <thead>
                            <tr>
                                <th><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    Id
                                </a></th>
                                <th><a ng-click="sortType = 'data';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'data' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data' && sortReverse" class="fa fa-caret-up"></span>
                                    Nombre
                                </a></th>
                                <th><a ng-click="sortType = 'status';sortReverse = !sortReverse">
                                    <span ng-show="sortType == 'status' && !sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    Imagen
                                </a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in dataProduct | orderBy:sortType:sortReverse | filter:search">
                                <td>{{ $index+1 }}</td>
                                <td>{{i.name}}</td>
                                <td>
                                    <!--<div ng-bind-html="i.image"></div>-->
                                    <!--<img crossOrigin="anonymous" ng-src="{{domain}}{{i.image}}" class="img-thumbnail"-->
                                         <!--alt="" width="105"-->
                                         <!--height="105">-->
                                    <img ng-src="data:image/png;base64,{{i.imagebase64}}"
                                    class="img-thumbnail" alt=""
                                    width="105"
                                    height="105"
                                    >
                                    <!--ii-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--  <iframe ng-show="viewframe==1" frameborder="0" width="700" height="400"></iframe> -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">
                                        <i class="fa fa-file-pdf-o"></i>Vista Previa</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Productos.</p>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe ng-show="viewframe==1" frameborder="0"
                                                class="embed-responsive-item"></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="text-center col-md-12">
            <!--<pre>{{test | json}}</pre><p>{{message}}</p>-->
            <!--<pre>{{ data | json }}</pre>-->
        </div>

    </div>
    <div class="row"></div>
    <hr>
    <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
            <!-- <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="#">Adaptive</a></p> -->
        </div>
    </div>
    <hr>
</div>

</div>